html {
  font-size: 16px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $font-sans;
  color: $body-color;
  background: $body-bg;
}
h1 {
  text-align: center;
  line-height: 2;
  @include text-truncate;
  font-weight: 300;
  color: #999;
}

.wrap {
  padding: 15px;
  box-sizing: border-box;
}

svg {
  margin: auto;
  // fill: #e34f26;
}
stop {
  animation: colors 5s linear infinite backwards;
  &:nth-child(2) {
    animation-delay: .5s;
  }
}
@keyframes colors {
  0% {
    stop-color: rgba(255, 0, 0, 0.3);
  }
  25% {
    stop-color: rgba(0, 0, 255, 0.3);
  }
  50% {
    stop-color: rgba(255, 0, 0, 0.3);
  }
  75% {
    stop-color: rgba(0, 0, 255, 0.3);
  }
  100% {
    stop-color: rgba(255, 0, 0, 0.3);
  }
}
