$loading-size: 1.25rem !default;
$loading-size-sm: 1rem !default;
$loading-size-lg: 2rem !default;
$loading-color: $color-primary !default;

.loading {
  position: relative;
  color: transparent;
  cursor: default;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: $loading-size;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    margin-left: -.5em;
    border-radius: 50%;
    border: .15rem solid $loading-color;
    border-left-color: transparent;
    box-sizing: border-box;
    background-color: transparent;
    animation: loading .55s linear infinite;
  }

  &--sm::after {
    font-size: $loading-size-sm;
  }

  &--lg::after {
    font-size: $loading-size-lg;
  }
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
