// Buttons
$btn-border-width: 1px;
$btn-border: $btn-border-width solid $color-primary !default;
$btn-height: 2.35rem !default;
$btn-bg: transparent !default;
$btn-color: $color-primary !default;
$btn-hover-bg: $color-primary !default;
$btn-hover-color: #fff !default;
$btn-primary-bg: $color-primary !default;
$btn-primary-color: #fff !default;
$btn-padding: .5rem 1.2rem !default;
$btn-radius: .15rem !default;

@mixin btn-loading-color($border-color: $color-primary) {
  &::after {
    border-color: $border-color;
    border-left-color: transparent;
  }
}

.btn {
  position: relative;
  display: inline-block;
  height: $btn-height;
  line-height: 1.3;
  vertical-align: middle;
  padding: $btn-padding;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: .05rem;
  text-decoration: none;
  text-align: center;
  color: $btn-color;
  background-color: $btn-bg;
  border: $btn-border;
  border-radius: $btn-radius;
  user-select: none;
  cursor: pointer;
  // outline: 0;
  &:hover {
    color: $btn-hover-color;
    background-color: $btn-hover-bg;
  }
  &:active {
    color: $btn-hover-color;
    background-color: darken($btn-primary-bg, 10%);
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &--link {
    background-color: transparent;
    border: transparent;
    color: $btn-color;
    &:hover {
      background-color: transparent;
      color: darken($btn-color, 10%);
    }
    &:active {
      background-color: transparent;
      color: darken($btn-color, 10%);
    }
  }

  &.has-loading {
    @extend .loading;
    @include btn-loading-color;
    pointer-events: none;
  }

  &--primary {
    background-color: $color-primary;
    color: #fff;
    &:hover {
      background-color: lighten($color-primary, 5%);
    }
    &:active {
      background-color: darken($color-primary, 5%);
    }

    &.has-loading {
      color: transparent;
      &:hover,
      &:active {
        background-color: $color-primary;
      }
      @include btn-loading-color(#fff);
    }
  }

  &--block {
    display: block;
    width: 100%;
  }
}

.btn-group {
  display: inline-flex;
  flex-direction: row;

  .btn {
    border-radius: 0;
    &:first-child {
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
    }
    &:last-child {
      border-top-right-radius: $btn-radius;
      border-bottom-right-radius: $btn-radius;
    }
    + .btn {
      border-left: $btn-border-width solid darken($color-primary, 5%);
      margin-left: -$btn-border-width;
    }
  }
}

.btn[disabled],
.btn--disabled {
  pointer-events: none;
  opacity: .7;
  &:hover {
    background-color: transparent;
    color: $color-primary;
  }
}
