//***** Colors
$color-primary: #1976D2 !default;
$text-muted: #999 !default;
$body-bg: #fff !default;
$body-color: #333 !default;

//***** Grid
$breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);
$enable-flex-grid: true;
$container-max-width: 1200px;
$grid-columns: 12;
$grid-gutter-width: 30px;


//***** Font
$font-sans: -apple-system,BlinkMacSystemFont,Roboto, "Segoe UI", Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif !default;
$font-sherif: Georgia, "Times New Roman", Times, serif !default;
$font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-root: 16px !default;
